* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: aliceblue;
}

.buttons {
    margin-top: 80px;
}


.buttons button {
    font-size: 1.2rem;
    padding: 5px;
    margin-inline: 20px;
    cursor: pointer;
}


.right {
    padding: 10px;
    height: 20rem;
    width: 200px;
    color: #fff;
    text-align: center;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
}

.right::-webkit-scrollbar {
    width: 5px;
}

.right::-webkit-scrollbar-track {
    background-color: #282727;
}

.right::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}


@media screen and (max-width: 630px) {
    .buttons {
        margin-top: 20px;
    }

    .main {
        flex-direction: column;
        gap: 50px;
    }

    .right {
        height: auto;
        width: 100vw;
    }

    .right::-webkit-scrollbar-track {
        background-color: transparent;
    }
}